@charset "UTF-8";
/* FEATURE TEAM COMMANDE */

/* CMD00 */
.commandeCMD00 {
	color: #66C5EB;
	text-align: center;
}

h2.commandeCMD00 {
	font-size: 2.55em;
}

/* sous titre */
legend.commandeLegendCMD00 {
	color: #6FA8DC;
	font-size: 2em;
}

/* style pour une page sans commande */
div.commandeVideCMD00, div.commandeCMD00GRille {
	text-align: center;
}

/* factorisation des css communs */
/* correctif : utiliser des em au lieu des px */
fieldset.commandeFieldsetCMD00, div.commandeWrapperCMD00, div.commandeVideCMD00 {
	padding: 10px;
}

/* hauteur field set */
fieldset.commandeFieldsetCMD00 {
	width: 90%;
	height: 80%;
}

/* grille à l'intérieur du fieldset */
div.commandeCMD00GRille {
	display: grid;
	align-items: center;
	width: 100%;
	height: 100%;
}

div.commandeVideCMD00 {
	margin: inherit;
	font-size: 1.15em;
}

/* création de la grille */
/* correctif : utiliser des em au lieu des px */
div.commandeLineCMD00 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	margin: 5px;
}

/* factorisation des bordures */
/* correctif : utiliser des em au lieu des px */
fieldset.commandeFieldsetCMD00, div.commandeLineCMD00, div.commandeVideCMD00 {
	/* correctif : utiliser l’hexadécimal (pas de nom, ni de rgb) */
	border: 3px solid black;
}

/* couleur du texte pour commande */
.colorTextCMD00 {
	/* correctif : utiliser l’hexadécimal (pas de nom, ni de rgb) */
	color: black;
}

/* colonne 1 */
div.commandeReferenceCMD00 {
	grid-column: 1;
}

/* colonne 2 */
/* correctif : utiliser des em au lieu des px */
div.commandeQuantiteTotaleCMD00 {
	grid-column: 2;
	display: grid;
	grid-template-columns: 1.75fr 0.25fr;
	grid-gap: 1px;
}

/* colonne 2.1 */
div.commandeQuantiteTotaleTextCMD00 {
	grid-column: 1;
	text-align: right;
}

/* colonne 2.2 */
div.commandeQuantiteTotaleValueCMD00 {
	grid-column: 2;
	text-align: right;
}

/* colonne 3 */
/* correctif : utiliser des em au lieu des px */
div.commandePrixTotalCMD00 {
	grid-column: 3;
	display: grid;
	grid-template-columns: 1.15fr 0.85fr;
	grid-gap: 1px;
}

/* colonne 3.1 */
div.commandePrixTotalTextCMD00 {
	grid-column: 1;
	text-align: right;
}

/* colonne 3.2 */
div.commandePrixTotalValueCMD00 {
	grid-column: 2;
	text-align: right;
	font-weight: bold;
}

/* colonne 4 */
div.commandeDateCMD00 {
	grid-column: 4;
}

/* espace entre la bordure et le texte */
div.commandeReferenceCMD00, div.commandeQuantiteTotaleCMD00, div.commandePrixTotalCMD00, div.commandeDateCMD00 {
	padding: 0.9375em;
	font-size: 1.05em;
}

/* CMD04 */
/* taille du texte */
.cmd-bouton-retour {
	color: #000000;
	font-size: 1.15em;
	/* enlève la bordure du bouton */
	border: 0;
	border-radius: 0.313em;
	text-align: center;
	padding: 0.5em;
}

/* la grille pour commande */
.cmd-grid {
	display: grid;
	align-items: center;
}

/* container de la page CMD04*/
.cmd-container {
	width: 95%;
	height: 75%;
	max-height: 75%;
	grid-template-columns: 3fr 1fr;
	grid-gap: 0.05em;
}

/* container de la liste des produits */
.cmd-produits {
	grid-column: 1;
}

/* container des adresses et des montants payés*/
.cmd-details {
	grid-column: 2;
}

/* bordure */
.cmd-border {
	border: 0.19em solid #000000;
}

/* bordure à droite */
.cmd-border-right {
	border-right: 0.19em solid #000000;
}

/* height 100% */
.cmd-height {
	height: 100%;
	max-height: 100%;
}

/* bordure des fieldset */
.cmd-fieldset {
	padding: 0.625em;
}

/* couleur et taille du text pour les légendes des fieldsets */
.cmd-fieldset-legend {
	color: #6FA8DC;
	font-size: 1.25em;
}

/* taille et hauteur calculer en tenant compte des bordures des bordures externes */
.cmd-box-sizing {
	box-sizing: border-box;
}

/* ligne dans la grille de commande */
.cmd-ligne {
	display: grid;
	/* pas d'espacement entre les grilles */
	grid-gap: 0;
	grid-template-columns: 4fr repeat(3, 1fr);
	margin: 0.313em;
	height: 12.5vh;
}

/* grille pour afficher l'image à droite */
.cmd-img-grid {
	/* pas d'espacement entre les grilles */
	grid-gap: 0;
	grid-template-columns: 1fr 2fr;
}

/* cellule d'une grille */
.cmd-grid-cel {
	padding: 0.313em;
}

/* grille colonne 1 */
.cmd-col-1 {
	grid-column: 1;
}

/* grille colonne 2 */
.cmd-col-2 {
	grid-column: 2;
}

/* grille colonne 3 */
.cmd-col-3 {
	grid-column: 3;
}

/* grille colonne 4 */
.cmd-col-4 {
	grid-column: 4;
}

/* grille colonne 5 */
.cmd-col-5 {
	grid-column: 5;
}

/* mettre en gras */
.cmd-bold {
	font-weight: bold;
}

/* aligner le texte au centre */
.cmd-text-align-center {
	text-align: center;
}

/* aligner le texte à droite */
.cmd-text-align-right {
	text-align: right;
}

/* aligner le texte justify*/
.cmd-text-align-justify {
	text-align: justify;
}

/* padding de la grille */

/* pour afficher les images */
.cmd-image {
	width: 80%;
	height: auto;
}

/* taille des div titres dans les boites */
.cmd-box-title {
	height: 20%;
}

/* taille des div textes dans les boites */
.cmd-box-text {
	height: 80%;
}

/* l'ascensseur à droite vertical */
.cmd-overflow {
	overflow-y: auto;
}

/* hauteur d'une taille 1/3 envrion */
.cmd-divise-3-hauteur {
	height: 33.33%;
}