@charset "UTF-8";
/* FEATURE TEAM COMMANDE */

/* CMD00 */
.CMD_00-commande {
	color: #66C5EB;
	text-align: center;
}

h2.CMD_00-commande {
	font-size: 2.55em;
}

/* sous titre */
legend.CMD_00-commandeLegend {
	color: #6FA8DC;
	font-size: 2em;
}

/* style pour une page sans commande */
div.CMD_00-commandeVide, div.CMD_00-commandeGrille {
	text-align: center;
}

/* factorisation des css communs */
fieldset.CMD_00-commandeFieldset, div.CMD_00-commandeWrapper, div.CMD_00-commandeVide {
	padding: 0.625em;
}

/* hauteur field set */
fieldset.CMD_00-commandeFieldset {
	width: 92%;
	height: 80%;
}

/* grille à l'intérieur du fieldset */
div.CMD_00-commandeGrille {
	display: grid;
	align-items: center;
	width: 100%;
	height: 100%;
}

div.CMD_00-commandeVide {
	margin: inherit;
	font-size: 1.15em;
}

/* création de la grille */
div.CMD_00-commandeLine {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 0.625em;
	margin: 0.313em;
}

/* factorisation des bordures */
fieldset.CMD_00-commandeFieldset, div.CMD_00-commandeLine, div.CMD_00-commandeVide {
	border: 0.188em solid #000000;
}

/* couleur du texte pour commande */
.CMD_00-colorText {
	color: #000000;
}

/* colonne 1 */
div.CMD_00-commandeReference {
	grid-column: 1;
}

/* colonne 2 */
div.CMD_00-commandeQuantiteTotale {
	grid-column: 2;
	display: grid;
	grid-template-columns: 1.75fr 0.25fr;
	grid-gap: 0.063em;
}

/* colonne 2.1 */
div.CMD_00-commandeQuantiteTotaleText {
	grid-column: 1;
	text-align: right;
}

/* colonne 2.2 */
div.CMD_00-commandeQuantiteTotaleValue {
	grid-column: 2;
	text-align: right;
}

/* colonne 3 */
div.CMD_00-commandePrixTotal {
	grid-column: 3;
	display: grid;
	grid-template-columns: 1.15fr 0.85fr;
	grid-gap: 0.063em;
}

/* colonne 3.1 */
div.CMD_00-commandePrixTotalText {
	grid-column: 1;
	text-align: right;
}

/* colonne 3.2 */
div.CMD_00-commandePrixTotalValue {
	grid-column: 2;
	text-align: right;
	font-weight: bold;
}

/* colonne 4 */
div.CMD_00-commandeDate {
	grid-column: 4;
}

/* espace entre la bordure et le texte */
div.CMD_00-commandeReference, div.CMD_00-commandeQuantiteTotale, div.CMD_00-commandePrixTotal, div.CMD_00-commandeDate {
	padding: 0.9375em;
	font-size: 1.05em;
}

/* CMD04 */
/* la grille pour commande */
.CMD_04-grid {
	display: grid;
	align-items: center;
}

/* container de la page CMD04*/
.CMD_04-container {
	height: 75%;
	max-height: 75%;
	grid-template-columns: 3fr 1fr;
	grid-gap: 0.05em;
}

/* container de la liste des produits */
.CMD_04-produits {
	grid-column: 1;
}

/* container des adresses et des montants payés*/
.CMD_04-details {
	grid-column: 2;
}

/* bordure */
.CMD_04-border {
	border: 0.19em solid #000000;
}

/* bordure à droite */
.CMD_04-border-right {
	border-right: 0.19em solid #000000;
}

/* bordure à droite transparent pour l'alignement */
.CMD_04-border-right-transparent {
	border-right: 0.19em solid #00000000;
}

/* height 100% */
.CMD_04-height {
	height: 100%;
	max-height: 100%;
}

/* bordure des fieldset */
.CMD_04-fieldset {
	padding: 0.625em;
}

/* couleur et taille du text pour les légendes des fieldsets */
.CMD_04-fieldset-legend {
	color: #6FA8DC;
	font-size: 1.25em;
}

/* taille et hauteur calculer en tenant compte des bordures des bordures externes */
.CMD_04-box-sizing {
	box-sizing: border-box;
}

/* ligne dans la grille de commande */
.CMD_04-ligne {
	display: grid;
	/* pas d'espacement entre les grilles */
	grid-gap: 0;
	grid-template-columns: 4fr repeat(3, 1fr);
	margin: 0.313em;
	height: 12.5vh;
}

/* grille pour afficher l'image à droite */
.CMD_04-img-grid {
	/* pas d'espacement entre les grilles */
	grid-gap: 0;
	grid-template-columns: 1fr 2fr;
}

/* cellule d'une grille */
.CMD_04-grid-cel {
	padding: 0.313em;
}

/* grille colonne 1 */
.CMD_04-col-1 {
	grid-column: 1;
}

/* grille colonne 2 */
.CMD_04-col-2 {
	grid-column: 2;
}

/* grille colonne 3 */
.CMD_04-col-3 {
	grid-column: 3;
}

/* grille colonne 4 */
.CMD_04-col-4 {
	grid-column: 4;
}

/* grille colonne 5 */
.CMD_04-col-5 {
	grid-column: 5;
}

/* mettre en gras */
.CMD_04-bold {
	font-weight: bold;
}

/* aligner le texte au centre */
.CMD_04-text-align-center {
	text-align: center;
}

/* aligner le texte à droite */
.CMD_04-text-align-right {
	text-align: right;
}

/* aligner le texte à gauche */
.CMD_04-text-align-left {
	text-align: left;
}

/* aligner le texte justify*/
.CMD_04-text-align-justify {
	text-align: justify;
}

/* padding de la grille */

/* pour afficher les images */
.CMD_04-img {
	width: 80%;
	height: auto;
}

/* taille des div titres dans les boites */
.CMD_04-box-title {
	height: 20%;
}

/* taille des div textes dans les boites */
.CMD_04-box-text {
	height: 80%;
}

/* text padding à gauche et à droite mais pas en haut et en bas */
.CMD_04-box-padding {
	/* pas de padding en haut et en bas, centrage automatique par l'utilisation de grid */
	padding: 0 0.625em;
}

/* l'ascensseur à droite vertical */
.CMD_04-overflow {
	overflow-y: auto;
}

/* hauteur d'une taille 1/3 envrion */
.CMD_04-divise-3-hauteur {
	height: 33.33%;
}

/* wrapper de la grille contenant la liste de produit */
.CMD_04-wrapper {
	padding: 0.625em;
}

/* couleur du titre pour la liste des produits */
.CMD_04-title-text-color {
	color: #66C5EB;
}

.CMD_04-border-prix-avant-remise {
	border: 0.19em solid #000000;
}

/* si le text dépasse de la boite, il sera tronqué automatiquement */
.CMD_04-description {
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	max-height: 3em;
	line-height: 1em;
	padding-right: 2em;
}

/* si le text dépasse de la boite, il sera tronqué automatiquement */
.CMD_04-text-overflow {
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	max-height: 1em;
	line-height: 1em;
}

/* la grille pour commande adresse */
.CMD_04-adresse-grid {
	display: grid;
	/* pas d'espacement entre les grilles */
	grid-gap: 0;
	grid-template-columns: 1fr 2fr;
}

/* marge pour les champs des adresses */
.CMD_04-adresse-margin {
	margin: 2%;
}

/* la grille pour commande prix */
.CMD_04-price-grid {
	display: grid;
	/* pas d'espacement entre les grilles */
	grid-gap: 5%;
	grid-template-columns: repeat(2, 2fr);
}

/* marge pour les champs texts des prix */
.CMD_04-price-text-padding {
	padding: 5%;
}

/* padding pour les champs des prix */
.CMD_04-price-padding {
	/* padding à droite comme pour celui de fieldset */
	padding: 5% 0.625em 5% 5%;
}

/* taille de la boxe */
.CMD_04-price-width {
	width: 100%;
}

/* padding pour le titre */
.CMD_04-padding-top {
	padding-top: 1em;
}

/* marge sous le lien retour */
.CMD_04-lien-margin-bottom {
	margin-bottom: 1em;
}