@charset "UTF-8";
/* FEATURE TEAM COMMANDE */

/* CMD00 */
.CMD_00-commande {
	color: #66C5EB;
	text-align: center;
}

h2.CMD_00-commande {
	font-size: 2.55em;
}

/* sous titre */
legend.CMD_00-commandeLegend {
	color: #6FA8DC;
	font-size: 2em;
}

/* style pour une page sans commande */
div.CMD_00-commandeVide, div.CMD_00-commandeGrille {
	text-align: center;
}

/* factorisation des css communs */
fieldset.CMD_00-commandeFieldset, div.CMD_00-commandeWrapper, div.CMD_00-commandeVide {
	padding: 0.625em;
}

/* hauteur field set */
fieldset.CMD_00-commandeFieldset {
	width: 90%;
	height: 80%;
}

/* grille à l'intérieur du fieldset */
div.CMD_00-commandeGrille {
	display: grid;
	align-items: center;
	width: 100%;
	height: 100%;
}

div.CMD_00-commandeVide {
	margin: inherit;
	font-size: 1.15em;
}

/* création de la grille */
div.CMD_00-commandeLine {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 0.625em;
	margin: 0.313em;
}

/* factorisation des bordures */
fieldset.CMD_00-commandeFieldset, div.CMD_00-commandeLine, div.CMD_00-commandeVide {
	border: 0.188em solid #000000;
}

/* couleur du texte pour commande */
.CMD_00-colorText {
	color: #000000;
}

/* colonne 1 */
div.CMD_00-commandeReference {
	grid-column: 1;
}

/* colonne 2 */
div.CMD_00-commandeQuantiteTotale {
	grid-column: 2;
	display: grid;
	grid-template-columns: 1.75fr 0.25fr;
	grid-gap: 0.063em;
}

/* colonne 2.1 */
div.CMD_00-commandeQuantiteTotaleText {
	grid-column: 1;
	text-align: right;
}

/* colonne 2.2 */
div.CMD_00-commandeQuantiteTotaleValue {
	grid-column: 2;
	text-align: right;
}

/* colonne 3 */
div.CMD_00-commandePrixTotal {
	grid-column: 3;
	display: grid;
	grid-template-columns: 1.15fr 0.85fr;
	grid-gap: 0.063em;
}

/* colonne 3.1 */
div.CMD_00-commandePrixTotalText {
	grid-column: 1;
	text-align: right;
}

/* colonne 3.2 */
div.CMD_00-commandePrixTotalValue {
	grid-column: 2;
	text-align: right;
	font-weight: bold;
}

/* colonne 4 */
div.CMD_00-commandeDate {
	grid-column: 4;
}

/* espace entre la bordure et le texte */
div.CMD_00-commandeReference, div.CMD_00-commandeQuantiteTotale, div.CMD_00-commandePrixTotal, div.CMD_00-commandeDate {
	padding: 0.9375em;
	font-size: 1.05em;
}

/* CMD04 */