@charset "UTF-8";
/*contact*/

/* vide */

/*MLG*/
.mlg-boutons {
	width: 100%;
	position: relative;
	display: inline-block;
	height: 2 em;
}

.scroll {
	overflow-y: scroll;
	height: 100%;
}

.mlg-bouton {
	width: 49%;
	display: inline-block;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	min-width: 5em;
	border: 0.063em solid gray;
	border-top-left-radius: 0.375em;
	border-top-right-radius: 0.375em;
	text-align: center;
}

.CGV-button {
	background: #F0F0F0;
}

.CGU-button {
	background: #615b63;
}

.mlg-file {
	background: #F0F0F0;
	width: 97.25%;
	border: 0.063em solid gray;
	padding: 0.5em 0.5em 0.5em 0.5em;
}

.CGV-file {
	display: block;
}

.CGU-file {
	display: none;
}
.CGv1-background{
	background: #F0F0F0;
/* background:#FF0000; */
}
.CGv2-background{
	background: #615b63;
}
.CGU1-background{
	background:#615b63;
}
.CGU2-background{
	background: #F0F0F0;
}