@charset "UTF-8";
/*contact*/
.contact-titre {
	color: #5cbaef;
	/* marge du titre */
	margin-left: 15%;
	margin-bottom: 50px;
	margin-top: 75px;
}

.contact-container {
	/* marge du contenu de Contact */
	margin-left: 10%;
	/* taille du container */
	width: 1685px;
	height: 830px;
}

/*CGV*/