@charset "UTF-8";
/* Vous pouvez utiliser directement ces propriétés pour vos eléments 
en ajoutant la classe dans une balise html 
ex : <div class="display-flex"></div>
Si vous voulez ajouter des propriétes flex à ce fichier, contacter Hanan.*/

.display-flex {
    display: flex;
}


/* alignement horizontale */

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}


/* alignement vertical */

.align-item-center {
    align-items: center;
}


/* alignement text horizontal */

.text-align-center {
    text-align: center;
}


/* flex -direction */

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-row-reverse {
    flex-direction: row-reverse;
}