@charset "UTF-8";
/* Couleur */

/* Le vert modification pas en base*/
.background-color-green-dark {
	background-color: #008000;
}

/* Le vert modification en BD*/
.background-color-green {
	background-color: #6AA84F;
}

/* Le background rouge */
.background-color-rouge {
	background-color: #E06666;
}

/* Le texte rouge */
.text-color-rouge {
	color: #F00000;
}

/* orange */
.background-error-block {
	background-color: #ff7f00;
}

/* Le vert*/
.background-validation-block {
	background-color: #008000;
}

/* permet de mettre un espace entre le message et l'icone*/
.message {
	margin-left: 0.625em;
}

/* permet de mettre une bordure et des marges pour le bloc d'affichage*/
.block-message-commun {
	border: 0.125em solid #000000;
	color: #FFFFFF;
	margin-right: 1%;
	margin-left: 1%;
	padding-left: 1em;
}

/* Boutons */

button:active {
  transform: translateY(0.125em);
}

.bouton-impact-BD {
	background-color: #6AA84F;
	border: 0.125em solid #000000;
	color: #ffffff;
	padding: 0.5em 2em;
	text-align: center;
	font-size: 1em;
	margin: 0.25em 0.125em;
	cursor: pointer;
}

.bouton-sans-impact-BD {
	background-color: #008000;
	border: 0.125em solid #000000;
	color: #ffffff;
	padding: 0.5em 2em;
	text-align: center;
	font-size: 1em;
	margin: 0.25em 0.125em;
	cursor: pointer;
}

.bouton-rouge {
	background-color: #E06666;
	border: 0.125em solid #000000;
	color: #ffffff;
	padding: 0.5em 2em;
	text-align: center;
	font-size: 1em;
	margin: 0.25em 0.125em;
	cursor: pointer;
}

/* titre */
h1 {
	color: #66C5EB;
	font-size: 2.5em;
}

h2 {
	color: #66C5EB;
}

/* factorisation du html et du body */
html, body, .conteneur-ascenseur {
	width: 100%;
	height: 100%;
}

html, body, header, aside, section, footer {
	/* indique que le conteneur n'ajoute pas la taille de la bordure du contenu dans sa taille */
	box-sizing: border-box;
	overflow-y: hidden;
	/* enlève les marges et les bordures pour les containers de chaque type*/
	margin: 0;
	padding: 0;
	border: 0;
}

.content {
	height: 80%;
}

/* taille du aside */
aside {
	width: 20%;
	overflow: auto;
}

/* taille de la section */
section {
	width: 80%;
}

/* text responsive */
.text-responsive {
	font-size: 1.15em;
}

/* pour la police et les dimensions des caractères des textareas */
.textarea {
	font-family: FontAwesome;
	font-size: 1em;
}

/* titre responsive */
.title-responsive {
	font-size: 2.5em;
}

/* classe pour le corps afin de faire apparaître l'ascenseur où vous le désirer (n'oubliez pas de donner une taille à la div qui doit la contenir) */
.conteneur-ascenseur {
	box-sizing: border-box;
	overflow-y: auto;
}

.overflow-auto {
	overflow: auto;
}

.display-block {
	display: block;
}

.display-none {
	display: none;
}

/* alignement du texte au centre */
.text-center {
	text-align: center;
}

/* css pour le lien retour */
.lien-retour {
	color: #000000;
	font-size: 1.15em;
	/* pour s'assurer qu'il n'y a pas de bordure autour du lien */
	border: 0;
	border-radius: 0.313em;
	text-align: center;
	padding: 0.15em;
	cursor: pointer;
	opacity: 0.7;
	text-decoration: none;
}

/* css lors du passage sur le lien */
.lien-retour:hover {
	opacity: 1;
}