@charset "UTF-8";
/* FEATURE TEAM PANIER */

/* CSS FACTORISE ENTRE PAN_00, PAN_00 vide et PAN_08 */
.panier-title {
	text-align: center;
}

/* CSS FACTORISE ENTRE PAN_00, maCommande et PAN_08 */
.panier-legend {
	color: #66C5EB;
	font-size: 1.875em;
}

/* PAN_00 vide */
.panier-vide-ligne {
	font-size: 1.5em;
	font-weight: bold;
}

.panier-vide-img {
	width: 50vh;
	height: 50vh;
}

/* CSS FACTORISE ENTRE PAN_00 et PAN_08 */
.panier-elements-a-droite {
	width: 90%;
	padding-left: 5%;
}

/* Encart Ma Commande (cf maCommande.jsp, inséré dans PAN_00 et PAN_08) */
.panier-ligne-prix-unitaire {
	width: 80%;
}

.panier-ligne-quantite {
	width: 80%;
}

.panier-ligne-quantite-box {
	margin-right: 0.8em;
}

.panier-macommande {
	height: 30vh;
	width: 85%;
	padding-left: 5%;
}

.panier-ligne-label {
	width: 50%;
}

/* PAN_00 */
.prix {
	text-align: right;
	width: 10em;
}

.panier-prix-unitaire-center {
	text-align: center;
}

.panier-bordure-1px {
	border: 0.063em solid black;
}

.panier-titre-produit {
	color: #66C5EB;
}

.panier-buttons {
	float: right;
	display: flex;
	justify-content: space-between;
	width: 55%;
}

.panier-valider {
	background-color: #6AA84F;
	color: #FFFFFF;
	margin: auto;
}

.panier-vider {
	background-color: #E06666;
	color: #FFFFFF;
	margin: auto;
}

.panier-image-responsive {
	width: 3.125em;
	height: auto;
	margin-top: -1em;
}

.panier-format {
	width: 6.25em;
}

.panier-image-produit-container {
	margin: 1vh;
	height: 9em;
}

.panier-div-image {
	width: 28.41vh;
}

.panier-description-produit {
	width: 57vh;
}
.panier-description-produit-paragraphe{

    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-height: 3em;
    line-height: 1em;
    padding-right: 2em;
}
.panier-image-produit {
	top: 0em;
	left: 0em;
	height: 9em;
}

.panier-responsive {
	width: 3.125em;
	height: auto;
	margin-bottom: 2em;
	margin-top: -1em;
}

.panier-left {
	height: 60vh;
	width: 120vh;
}

.panier-vider {
	margin-top: 1.5em;
	margin-right: 1.5em;
}

.panier-td {
	width: 6em;
}

.panier-th {
	width: 85.6vh;
}

.panier-quantite {
	width: 1.7em;
	height: 1.125em;
}

.panier-antimarge-prix-unitaire {
	margin-top: 0.5em;
	margin-bottom: 0em;
}

.panier-label {
	height: 3.75em;
}

.panier-td-component {
	height: 3.125em;
}

.panier-supprimer {
	padding-top: 0.21em;
}

/* PAN08 */
.panier-retour {
	font-size: 1.5em;
	color: #000000;
	text-decoration: none;
}

.panier-container-Adresse {
	width: 95%;
}

.panier-block-fieldSet {
	width: 100%;
}

.panier-margin-left-3em {
	margin-left: 1em;
	margin-right: 1em;
}

.panier-margin-left-15 {
	margin-left: 15%;
}

.panier-margin-left-10 {
	margin-left: 10%;
}

.panier-formulaire {
	margin: 0.5em;
	width: 90%;
}

.panier-formulaire-div {
	font-size: 1.5em;
	margin-top: 1em;
}

.panier-formulaire-input {
	height: 1.563em;
	width: 100%;
}

.panier-formulaire-textarea {
	width: 100%;
}

.panier-100 {
	width: 100%;
}