@charset "UTF-8";
/* FEATURE TEAM PANIER */

/* correctif : le nom des classes spécifique doit commencer par le nom de la FT team */

/* PAN00 */
/* CSS factorisé */
.panier-title {
	text-align: center;
}

/* texte aligné à droite */
.prix {
	text-align: right;
	width: 10em;
}

.panier-prix-unitaire-center {
	text-align: center;
}

/* bordures */
.panier-bordure-1px {
	border: 0.063em solid black;
}

.panier-titre-produit {
	color: #66C5EB;
}

/* legendes */
.panier-legend {
	color: #66C5EB;
	font-size: 1.875em;
}

.panier-buttons {
	float: right;
	display: flex;
	justify-content: space-between;
	width: 55%;
}

.panier-valider {
	background-color: #6AA84F;
	color: #FFFFFF;
	margin: auto;
}

.panier-vider {
	background-color: #E06666;
	color: #FFFFFF;
	margin: auto;
}
/* CSS specifique */

/* images responsives */
.panier-responsive {
	width: 3.125em;
	height: auto;
	margin-bottom: 2em;
	margin-top: -1em;
}

.panier-format {
	width: 6.25em;
}

.panier-image-produit-container {
	margin-left: 1vh;
	margin-top: 1vh;
	margin-bottom: 1vh;
	height: 10em;
}

.panier-description-produit {
	width: 49vh;
}

.panier-image-produit {
	top: 0em;
	left: 0em;
	height: 10em;
}

.panier-left {
	height: 60vh;
	width: 120vh;
}

.panier-macommande {
	height: 30vh;
	width: 85%;
	padding-left: 5%;
}

.panier-elements-a-droite {
	width: 90%;
	padding-left: 5%;
}

.panier-cellules-ligne {
	width: 80%;
}

.panier-ligne-prix-unitaire {
	width: 80%;
}

.panier-ligne-label {
	width: 50%;
}

.panier-ligne-quantite {
	width: 80%;
}

.panier-ligne-quantite-box {
	margin-right: 0.8em;
}

.panier-vider {
	margin-top: 1.5em;
	margin-right: 1.5em;
}

.panier-td {
	width: 6em;
}

.panier-vide-img {
	width: 50vh;
	height: 50vh;
}

.panier-prix-unitaire {
	width: 18%;
}

.panier-quantite {
	width: 1.7em;
}

.panier-label {
	padding-top: 2.5em;
}

.panier-supprimer {
	padding-top: 0.21em;
}

.panier-vide-ligne {
	font-size: 1.5em;
	font-weight: bold;
}

/* PAN08 */
.panier-retour {
	font-size: 1.5em;
	color: #000000;
	text-decoration: none;
}

.panier-container-Adresse {
	width: 95%;
}

.panier-block-fieldSet {
	width: 100%;
}

.panier-margin-left-3em {
	margin-left: 1em;
	margin-right: 1em;
}

.panier-margin-left-15 {
	margin-left: 15%;
}

.panier-margin-left-10 {
	margin-left: 10%;
}

.panier-formulaire {
	margin: 0.5em;
	width: 90%;
}

.panier-formulaire-div {
	font-size: 1.5em;
	margin-top: 1em;
}

.panier-formulaire-input {
	height: 1.563em;
	width: 100%;
}

.panier-formulaire-textarea {
	width: 100%;
}

.panier-100 {
	width: 100%;
}