@charset "UTF-8";
/* FEATURE TEAM PRODUIT */

/* correctif : le nom des classes spécifique doit commencer par le nom de la FT team */

/* PDT00 */
h1.title {
	text-align: center;
	color: #66C5EB;
}
/* correctif : utiliser des em au lieu des px */
.container {
	/*  correctif : utilisez proprieter flex disponible dans le fichier flex. css */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
	border: 1px solid #ff0000;
}
/* correctif : utiliser des em au lieu des px */
.containerVoyage {
	/*  correctif : utilisez proprieter flex disponible dans le fichier flex. css */
	display: inline-flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 10px;
	max-width: 30%;
}

.price {
	/*  correctif : utilisez proprieter flex disponible dans le fichier flex. css */
	display: flex;
	flex: 2 1 auto;
	justify-content: flex-end;
	padding: 0;
}

.img {
	/*  correctif : utilisez proprieter flex disponible dans le fichier flex. css */
	display: flex;
	justify-content: center;
	padding: 0;
	max-width: 100%;
}
/*  correctif : utilisez proprieter flex disponible dans le fichier flex. css */
td.name {
	display: flex;
}
/*  correctif : utilisez proprieter flex disponible dans le fichier flex. css */
.searchBar {
	display: flex;
	justify-content: flex-end;
	align-content: flex-end;
	align-items: flex-end;
}
/* correctif : utiliser des em au lieu des px */
.searchBarInside {
	outline: none;
	border-radius: 30px;
	/* correctif : utiliser l’hexadécimal (pas de nom, ni de rgb) */
	border: 2px solid grey;
	border-radius: 30px;
}

.searchBarOk {
	cursor: pointer;
}
/*  correctif : utilisez proprieter flex disponible dans le fichier flex. css */
tr.lineRow {
	display: flex;
}

td.description {
	/*  correctif : utilisez proprieter flex disponible dans le fichier flex. css */
	display: flex;
	max-width: 75%
}
/* correctif : utiliser des em au lieu des px */
.form-group {
	/*  correctif : utilisez proprieter flex disponible dans le fichier flex. css */
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

/* PDT01 */
/* correctif : utiliser des em au lieu des px */
.listeProduit {
	border-collapse: collapse;
	/* correctif : utiliser l’hexadécimal (pas de nom, ni de rgb) */
	border: 1px solid black;
	overflow-y: scroll;
	width: 100%;
}
/* correctif : utiliser des em au lieu des px */
.thPDT01 {
	/* correctif : utiliser l’hexadécimal (pas de nom, ni de rgb) */
	border-bottom: 1px solid black;
	padding: 7px 0;
}
/* correctif : utiliser des em au lieu des px */
.bodyPDT01 {
	/* correctif : utiliser l’hexadécimal (pas de nom, ni de rgb) */
	border-bottom: 1px solid black;
	text-align: center;
	font-weight: bold;
	padding: 9px 0;
}
/* correctif : utiliser des em au lieu des px */
.imagePDT01 {
	width: 40px;
	height: 40px;
}
/* correctif : utiliser des em au lieu des px */
.iconePDT01 {
	width: 90px;
	height: 60px;
}

/* PDT02 */

/* PDT03 */
.pdtGrid-container {
	display: grid;
	grid-gap: 0.4em;
	padding: 0.4em;
}

.pdtGrid-item {
	text-align: center;
	padding: 0.625em;
	font-size: 1.125em;
}

.pdtFormlaireCreerProduit {
	grid-column: 1/span 2;
	grid-row: 1/span 2;
}

.pdtImageProduit {
	grid-column: 3;
	grid-row: 1/span 1;
}

.pdtLogoService {
	grid-column: 3;
	grid-row: 2/span 1;
}

.pdtFormulaireProduit input {
	width: 100%
}

.pdtFormulaireProduit {
	table-layout: auto;
	text-align: left;
	line-height: 3.75em;
}

.pdtFormulaireProduit td {
	padding: 0 0.313em 0 0.313em;
}

.pdtGrid-container form table tr td input {
	width: 100%;
}

.pdtFormPDT03Radio {
	display: flex;
	justify-content: space-around;
}

.pdtFormPDT03Radio div {
	display: flex;
	align-items: center;
}

.pdtFormPDT03Radio div input {
	margin-right: 0.938em;
	width: auto;
}

.pdtTextAreaPDT03 textarea {
	resize: vertical;
	min-height: 3.75em;
}

.pdtButtonsPdt03 {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.pdtListeService {
	width: 100%;
}

.pdtImageCreationProduit {
	width: 100%;
}
/* PDT04 */