@charset "UTF-8";
/* FEATURE TEAM PRODUIT */
/* PDT Commun */
.pdtSearchBarInside {
	outline: none;
	border-radius: 1.875em;
	border: 0.125em solid #808080;
	border-radius: 1.875em;
}

.pdtSearchBarOk {
	cursor: pointer;
}

/* PDT00 */
.pdt00ContainerVoyage {
	margin: 0.625em;
	max-width: 30%;
}

.pdt00Price {
	flex: 2 1 auto;
	padding: 0;
}

.pdt00Img {
	padding: 0;
	max-width: 100%;
}

td.pdt00Description {
	max-width: 75%
}

/* PDT01 */
.pdtListeProduit {
	border-collapse: collapse;
	border: 0.063em solid #000000;
	overflow-y: scroll;
	width: 100%;
}

th.pdt01 {
	border-bottom: 0.063em solid #000000;
	padding: 0.438em 0;
}

.pdt01Body {
	border-bottom: 0.063em solid #000000;
	text-align: center;
	font-weight: bold;
	padding: 0.563em 0;
}

.pdt01Image {
	width: 2.5em;
	height: 2.5em;
}

.pdt01Icone {
	width: 5.625em;
	height: 3.75em;
}

/* PDT02 */

/* PDT03 */

/* PDT04 */
.pdt04Flex-container {
	text-align: left;
	width: 100%;
	height: auto;
	font-size: 1.125em;
	flex-wrap: wrap;
	align-items: baseline
}

.pdt04Display {
	min-width: 50%;
}

.pdt04Image {
	width: 25em;
	height: 15em;
}

.pdt04Hebergement {
	font-size: 2.5em;
}

.pdt04SousTitre {
	font-size: 1.125em;
	color: #66C5EB;
}

.pdt04TextArea {
	resize: none;
}

.pdt04IconeServices {
	font-size: xx-large;
}

.pdt04IconeSpace {
	padding: 0.3em;
}
