@charset "UTF-8";
/* Factorisation du fichier */
/* factorisation du html et du body */
html, body {
	width: 100%;
	height: 100%;
}

/* enlève les marges et les bordures pour les containers de chaque type*/
html, body, header, aside, section, footer {
	margin: 0px;
	padding: 0px;
	border: 0px;
	overflow: hidden;
}

/* factorisation du header et du footer */
header, footer {
	display: block;
	width: 100%;
	height: 10vh;
}

/* factorisation du style du aside et section */
aside, section {
	display: block;
	float: left;
	height: 80vh;
}

/* taille du aside */
aside {
	width: 20%;
}

/* taille de la section */
section {
	width: 80%;
}

/* footer élémination du float fait pour aside et section */
footer {
	clear: both;
}

/* HEADER */

/* MENU */

/* FOOTER */
#footer-container {
	/* flex contenair*/
	/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
	display: flex;
	/* gestion des items de façon horizontale */
	flex-direction: row;
	/* répartition horizontale */
	justify-content: space-around;
	/* alignement verticale des items */
	align-items: center;
}

.footer-lang {
	/* alignement du texte "langue" et des images */
	vertical-align: middle;
	/* définition de la hauteur et de la largeur des images */
	height: 50px;
	width: 50px;
}

/* FEATURE TEAM USER */
/* USR00 */

/* USR01 */

/* USR02 */

/* USR05 */

/* USR07 */

/* FEATURE TEAM PRODUIT */
/* PDT00 */

/* PDT01 */

/* PDT02 */

/* PDT03 */

/* PDT04 */

/* FEATURE TEAM PANIER */
/* PAN00 */

/* PAN08 */

/* FEATURE TEAM COMMANDE */
/* CMD00 */

/* CMD04 */