@charset "UTF-8";
/* Factorisation du fichier */

/* HEADER */

/* MENU */

/* FOOTER */

/* FEATURE TEAM USER */
/* USR00 */

/* USR01 */

/* USR02 */

/* USR05 */

/* USR07 */

/* FEATURE TEAM PRODUIT */
/* PDT00 */

/* PDT01 */

/* PDT02 */

/* PDT03 */

/* PDT04 */

/* FEATURE TEAM PANIER */
/* PAN00 */

/* PAN08 */

/* FEATURE TEAM COMMANDE */
/* CMD00 */
h2.commande {
	color: blue;
	text-align: center;
}

h5.commande {
	color: blue;
	border: 3px solid black;
}

table.commande {
	width: 500px;
	border: 3px solid black;
	padding: 10px;
	overflow-y: auto;
}

table tr.commande {
	margin: 5px;
	border: 3px solid black;
}
/* CMD04 */