@charset "UTF-8";
/* Factorisation du fichier */
/* factorisation du html et du body */
html, body, .conteneur-ascenseur {
	width: 100%;
	height: 100%;
}

/* indique que le conteneur n'ajoute pas la taille de la bordure du contenu dans sa taille */
html, body, header, aside, section, footer {
	box-sizing: border-box;
	overflow-y: hidden;
}

/* enlève les marges et les bordures pour les containers de chaque type*/
html, body, header, aside, section, footer {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

/* factorisation du header et du footer */
header, footer {
	display: block;
	width: 100%;
	height: 10vh;
}

.content {
	display: flex;
	justify-content: space-between;
	height: 80%;
}

/* taille du aside */
aside {
	width: 20%;
	top: 0px;
	display: flex;
	overflow: auto;
}

/* taille de la section */
section {
	width: 80%;
}

/* footer élémination du float fait pour aside et section */
footer {
	clear: both;
}

/* text responsive */
.text-responsive {
	font-size: 1.15em;
}

/* titre */
h1 {
	text-align: center;
	color: #66C5EB;
	font-size: 40px;
}

/* titre responsive */
.title-responsive {
	font-size: 2.5em;
}

/* classe pour le corps afin de faire apparaître l'ascenseur où vous le désirer (n'oubliez pas de donner une taille à la div qui doit la contenir) */
.conteneur-ascenseur {
	box-sizing: border-box;
	overflow-y: auto;
}

/* HEADER */
#header {
	width: 100%;
	height: 8vh;
	display: flex;
}

#headerLogo {
	width: 70px;
}

.logoHeader-ynh {
	width: 100%;
	height: auto;
}

.logoHeader {
	width: 60%;
	height: auto;
}

#headerNom {
	width: 35.5%;
}

#headerStatut {
	width: 35%;
	top: 20%;
}

#headerConnexion {
	width: 15%;
}

#headerPanier {
	width: 20%;
}

.headerCell {
	height: 100%;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

.headerSousCell {
	display: inline-block;
	vertical-align: middle;
}

/* MENU */
/* Side Bar */
.sidebar {
	width: 80%;
	min-width: 160px;
	background-color: transparent;
	padding-top: 16px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

aside {
	justify-content: center;
}

.link-container {
	width: 90%;
	margin: auto;
}

.link-container.underline {
	border-bottom: 3px solid black;
	padding-bottom: 20px;
}

.link-container.admin {
	padding: 8px 0px;
	border-bottom: 3px solid black;
	border-top: 3px solid black;
}

.sidebar p {
	font-size: 20px;
	margin: auto;
	max-width: 300px;
	min-width: 110px;
	text-align: center;
}

.fa fa-globe {
	width: 50px;
	height: 40px;
}

.link-container span {
	font-size: 25px;
	display: block;
	text-align: center;
}

.link-container a {
	display: block;
	color: black;
	text-decoration: none;
}

.link-container a:hover {
	color: #818181;
}

.bar_menu {
	color: black;
	font-weight: 1000;
}

.admin_bar {
	color: black;
	padding: 20px 0px 0px 0px;
	margin: 10px 0px -20px 0px;
	text-align: center;
	font-size: 20px;
	width: 125px;
	text-decoration: underline overline;
	text-decoration-thickness: 2px;
}

/* FOOTER */
/* image responsive */
.footer-responsive {
	width: 50px;
	height: auto;
}

#footer-container {
	/* flex contenair*/
	/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
	display: flex;
	/* gestion des items de façon horizontale */
	flex-direction: row;
	/* répartition horizontale */
	justify-content: space-around;
	/* alignement verticale des items */
	align-items: center;
	height: auto;
}

.footer-lang {
	/* alignement du texte "langue" et des images */
	vertical-align: middle;
}

/* CONTACT */
.contact-titre {
	color: #5cbaef;
	/* marge du titre */
	margin-left: 15%;
	margin-bottom: 50px;
	margin-top: 75px;
}

.contact-container {
	/* marge du contenu de Contact */
	margin-left: 10%;
	/* taille du container */
	width: 1685px;
	height: 830px;
}

/* FEATURE TEAM USER */

/* ECRAN ERREUR 404 */
.div404 {
    text-align: center;
    height: 100%;
}

.div404 .img404 {
	height: 100%;
}

/* USR00 */

/* USR01 */
#listeUser {
	border-collapse: collapse;
	border: 1px solid black;
	overflow-y: scroll;
	width: 100%;
}

.thUSR01 {
	font-weight: lighter;
	border-bottom: 1px solid black;
	padding: 7px 0;
}

.bodyUSR01 {
	border-bottom: 1px solid black;
	text-align: center;
	font-weight: bold;
	padding: 9px 0;
}

.imageUSR01 {
	width: 40px;
	height: 40px;
}

#imageNonActif {
	width: 25px;
	height: auto;
}

/* USR02 */

/* USR05 */
.user05 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.user05 .leftSideUser05 {
	width: 75%;
}

.user05 .leftSideUser05 form table {
	width: 100%;
}

.user05 .leftSideUser05 form table tr th {
	width: 30%;
	text-align: left;
	padding: 10px 0;
}

.user05 .leftSideUser05 form table tr td {
	width: fit-content;
}

.user05 .leftSideUser05 form table tr td div button {
	padding: 5px 25px;
	border-radius: 5px;
	color: white;
}

.user05 .leftSideUser05 form table tr .buttonsUser05 {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.user05 .leftSideUser05 form table tr .buttonsUser05 div .creerUser05 {
	background-color: rgb(106, 168, 79);
}

.user05 .leftSideUser05 form table tr .buttonsUser05 div .resetUser05 {
	background-color: rgb(224, 102, 102);
}

.user05 .leftSideUser05 form table tr td input {
	width: 100%;
}

.user05 .rightSideUser05 {
	width: 25%;
}

/* USR07 */
.boutonValiderUSR07 {
	background-color: #008000;
	Color: white;
}

.boutonResetUSR07 {
	background-color: #FF0000;
	Color: white;
}

/* FEATURE TEAM PRODUIT */
/* PDT00 */
h1.title {
	text-align: center;
	color: #66C5EB;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
	border: 1px solid #ff0000;
}

.containerVoyage {
	display: inline-flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 10px;
	max-width: 30%;
}

.price {
	display: flex;
	flex: 2 1 auto;
	justify-content: flex-end;
	padding: 0;
}

.img {
	display: flex;
	justify-content: center;
	padding: 0;
	max-width: 100%;
}

td.name {
	display: flex;
}

.searchBar {
	display: flex;
	justify-content: flex-end;
	align-content: flex-end;
	align-items: flex-end;
}

.searchBarInside {
	outline: none;
	border-radius: 30px;
	border: 2px solid grey;
	border-radius: 30px;
}

.searchBarOk {
	cursor: pointer;
}

tr.lineRow {
	display: flex;
}

td.description {
	display: flex;
	max-width: 75%
}

/* PDT01 */
.listeProduit {
	border-collapse: collapse;
	border: 1px solid black;
	overflow-y: scroll;
	width: 100%;
}

.thPDT01 {
	border-bottom: 1px solid black;
	padding: 7px 0;
}

.bodyPDT01 {
	border-bottom: 1px solid black;
	text-align: center;
	font-weight: bold;
	padding: 9px 0;
}

.imagePDT01 {
	width: 40px;
	height: 40px;
}

/* PDT02 */

/* PDT03 */

/* PDT04 */

/* FEATURE TEAM PANIER */
/* PAN00 */
/* CSS factorisé */
/* active flex*/
.panier-display-flex {
	display: flex;
}
/* ascenseur */
.panier-overflow-auto {
	overflow: auto;
}

/* alignement horizontale */
.panier-justify-content-center {
	justify-content: center;
}

.panier-justify-content-space-between {
	justify-content: space-between;
}

/* alignement vertical */
.panier-align-item-center {
	align-items: center;
}

/* alignement text horizontal */
.panier-text-align-center {
	text-align: center;
}

/* inversion le sens des éléments flex */
.panier-flex-direction-row-reverse {
	flex-direction: row-reverse;
}

/* bordures */
.panier-bordure-1px {
	border: 1px solid black;
}
/* CSS specifique */

/* images responsives */
.panier-responsive {
	width: 50px;
	height: auto;
	margin-bottom: 2em;
	margin-top: -1em;
}

.panier-td-delete {
	width: 12%;
}

.panier-format {
	width: 6em;
}

.panier-image-produit {
	width: auto;
	height: 18vh;
	margin-left: 1vh;
	margin-top: 1vh;
}

.panier-left {
	height: 60vh;
	width: 95%;
}

.panier-macommande {
	height: 30vh;
	width: 85%;
	padding-left: 5%;
}

.panier-elements-a-droite {
	width: 90%;
	padding-left: 5%;
}

.panier-tab-ligne {
	height: 25vh;
}

.panier-ligne-prix-unitaire {
	width: 80%;
}

.panier-ligne-label {
	width: 50%;
}

.panier-ligne-quantite {
	width: 80%;
}

.panier-vider {
	margin-top: 1.5em;
	margin-right: 1.5em;
}

.panier-prix-unitaire {
	width: 18%;
}

.panier-quantite {
	width: 1.7em;
}

.panier-quantite-label {
	padding-top: 0.21em;
}

.panier-supprimer {
	padding-top: 3em;
}

/* PAN08 */

/* FEATURE TEAM COMMANDE */
/* CMD00 */
.commandeCMD00 {
	color: #66C5EB;
	text-align: center;
}

h2.commandeCMD00 {
	font-size: 2.55em;
}

/* sous titre */
legend.commandeLegendCMD00 {
	color: #6FA8DC;
	font-size: 2em;
}

/* style pour une page sans commande */
div.commandeVideCMD00, div.commandeCMD00GRille {
	text-align: center;
}

/* factorisation des css communs */
fieldset.commandeFieldsetCMD00, div.commandeWrapperCMD00, div.commandeVideCMD00 {
	padding: 10px;
}

/* hauteur field set */
fieldset.commandeFieldsetCMD00 {
	width: 90%;
	height: 80%;
}

/* grille à l'intérieur du fieldset */
div.commandeCMD00GRille {
	display: grid;
	align-items: center;
	width: 100%;
	height: 100%;
}

div.commandeVideCMD00 {
	margin: inherit;
	font-size: 1.15em;
}

/* création de la grille */
div.commandeLineCMD00 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	margin: 5px;
}

/* factorisation des bordures */
fieldset.commandeFieldsetCMD00, div.commandeLineCMD00, div.commandeVideCMD00 {
	border: 3px solid black;
}

/* couleur du texte pour commande */
.colorTextCMD00 {
	color: black;
}

/* colonne 1 */
div.commandeReferenceCMD00 {
	grid-column: 1;
}

/* colonne 2 */
div.commandeQuantiteTotaleCMD00 {
	grid-column: 2;
	display: grid;
	grid-template-columns: 1.75fr 0.25fr;
	grid-gap: 1px;
}

/* colonne 2.1 */
div.commandeQuantiteTotaleTextCMD00 {
	grid-column: 1;
	text-align: right;
}

/* colonne 2.2 */
div.commandeQuantiteTotaleValueCMD00 {
	grid-column: 2;
	text-align: right;
}

/* colonne 3 */
div.commandePrixTotalCMD00 {
	grid-column: 3;
	display: grid;
	grid-template-columns: 1.15fr 0.85fr;
	grid-gap: 1px;
}

/* colonne 3.1 */
div.commandePrixTotalTextCMD00 {
	grid-column: 1;
	text-align: right;
}

/* colonne 3.2 */
div.commandePrixTotalValueCMD00 {
	grid-column: 2;
	text-align: right;
	font-weight: bold;
}

/* colonne 4 */
div.commandeDateCMD00 {
	grid-column: 4;
}

/* espace entre la bordure et le texte */
div.commandeReferenceCMD00, div.commandeQuantiteTotaleCMD00, div.commandePrixTotalCMD00, div.commandeDateCMD00 {
	padding: 0.9375em;
	font-size: 1.05em;
}

/* CMD04 */