@charset "UTF-8";
/* FEATURE TEAM USER */

/* ECRAN ERREUR 404 */
.userPage404 {
	text-align: center;
	height: 100%;
}

.userPage404 .img404 {
	height: 100%;
}

/* USR00 */
.user00-title {
	text-align: center;
}

.user00-body-general {
	width: 100%;
}

.user00-leftSide {
	width: 65%;
}

.user00-infos {
	margin-left: 3em;
	margin-bottom: 2em;
	justify-content: space-between;
	display: flex;
}

.user00-infos-input {
	width: 55%;
}

.user00-textarea {
	resize: none;
}

.user00-buttons {
	float: right;
	display: flex;
	justify-content: space-between;
	width: 53%;
}

/* USR01 */
.user01-message {
	margin-left: 0.5em;
}

.user01-conteneur-ascenseur {
	box-sizing: border-box;
	overflow-y: auto;
	height: 70%;
	width: 98%;
}

.user01-searchMenu {
	width: 98%;
}

.userDesignRechercheFiltre {
	display: contents;
	margin-bottom: 0.938em;
}

.user01-filter-bar {
	margin-left: 1em;
}

.user01-searchMenu .user01AddUser {
	margin-left: auto;
}

.searchBarInside {
	border-radius: 6.25em;
	border: 0.125em solid #808080;
}

.userSearchBarOk {
	cursor: pointer;
	margin-right: 3.3em;
}

.user01-table {
	height: 64vh;
}

.user01-lister {
	border-collapse: collapse;
	border: 0.063em solid #000000;
	width: 100%;
}

.user01-colonne {
	font-weight: lighter;
	border-bottom: 0.063em solid #000000;
	padding: 0.438em 0;
}

.user01-body {
	border-bottom: 0.063em solid #000000;
	text-align: center;
	font-weight: bold;
	padding: 0.563em 0;
}

.user01-image {
	width: 2.5em;
	height: 2.5em;
}

.user01-imageNonActive {
	width: 1.563em;
	height: auto;
}

/* USR02 */
.user02-body-general {
	width: 100%;
}

.user02-title {
	margin-left: auto;
	margin-right: auto;
}

.user02-leftSide {
	width: 65%;
}

.user02-form-field {
	margin-bottom: 1em;
}

.user02-form-inputs {
	width: 55%;
}

.user02-inputs {
	width: 100%;
}

.user02-infos {
	margin-left: 3em;
	margin-bottom: 2em;
	justify-content: space-between;
	display: flex;
}

.user02-textarea {
	resize: none;
}

.user02-buttons {
	float: right;
	display: flex;
	justify-content: space-between;
	width: 52%;
}

.user02-rightSide-avatar {
	margin-bottom: 1em;
}

.user02-avatar {
	width: 15.625em;
}

.user02-admin-options {
	border: 0.09375em solid black;
}

.user02-admin-button {
	margin: 0.5em 0;
}

.user02-admin-button-commande {
	padding: 0.25em 0.75em;
}

.user02-admin-roles {
	width: 95%;
	margin: 0.5em 0;
}

.user02-status-checkbox {
	display: none;
}

.user02-admin-desactive {
	color: grey;
	font-size: 2em !important;
	margin-left: 0.6em;
}

.user02-admin-active {
	color: green;
	font-size: 2em !important;
	margin-left: 0.5em;
}

.user02-admin-ref {
	margin: 0.5em 0;
}

/* USR03 */

/* USR05 */
.user05-body-general {
	width: 100%;
}

.user05-titre {
	margin-left: auto;
	margin-right: auto;
}

.user05-leftSide {
	width: 65%;
}

.user05-form-field {
	margin-left: 3em;
	margin-bottom: 2em;
}

.user05-form-inputs {
	width: 55%;
}

.user05-inputs {
	width: 100%;
}

.user05-buttons {
	margin-top: 2em;
	width: 52%;
	float: right;
	display: flex;
	justify-content: space-between;
}

.user05-textarea {
	resize: vertical;
	height: 5em;
}

.margin-left-usr05 {
	margin-left: 30em;
}

.margin-top-usr05 {
	margin-top: 1.5em;
}

.user05-avatar {
	width: 15.625em;
}

.user05-label-image {
	margin-top: 2em;
	margin-bottom: 0.5em;
}

.user05-submit-image {
	margin-top: 1em;
	margin-left: 5.5em;
}

/* USR07 */
.user07-body-general {
	width: 100%;
}

.user07-form {
	align-items: center;
	justify-content: center;
	margin-top: 0.625em;
}

.user07-button {
	align-items: center;
	margin: auto;
	width: 80%;
}

.user07-lib-champ-email {
	margin-left: 3.125em;
}

.user07-lib-champ-password {
	margin-left: 3.125em;
}

.user07-lib-champ {
	justify-content: space-between;
	margin-bottom: 3.125em;
	margin-top: 4em;
}