@charset "UTF-8";
/* FEATURE TEAM USER */

/* ECRAN ERREUR 404 */
.userPage404 {
	text-align: center;
	height: 100%;
}

.userPage404 .img404 {
	height: 100%;
}

/* USR00 */
.user00-title {
	text-align: center;
}

.user00-body-general {
	width: 100%;
}

.user00-leftSide {
	width: 65%;
}

.user00-infos {
	margin-left: 3em;
	margin-bottom: 2em;
	justify-content: space-between;
	display: flex;
}

.user00-infos-input {
	width: 55%;
}

.user00-textarea {
	resize: none;
}

.user00-buttons {
	float: right;
	display: flex;
	justify-content: space-between;
	width: 53%;
}

.user00-modifier {
	background-color: #6AA84F;
	color: #FFFFFF;
	margin: auto;
}

.user00-supprimer {
	background-color: #E06666;
	color: #FFFFFF;
	margin: auto;
}

/* USR01 */
.user01-message {
	margin-left: 0.5em;
}

.user01-conteneur-ascenseur {
	box-sizing: border-box;
	overflow-y: auto;
	height: 100%;
	width: 98%;
}
.user01-searchMenu {
	margin-bottom: 0.938em;
	width: 98%;
}

.user01-filter-bar {
	margin-left: 1em;
}

.user01-searchMenu .user01AddUser {
	margin-left: auto;
}

.searchBarInside {
	border-radius: 6.25em;
}

.user01-table {
	height: 64vh;
	overflow-y: scroll;
}

.user01-lister {
	border-collapse: collapse;
	border: 0.063em solid #000000;
	width: 100%;
}

.user01-colonne {
	font-weight: lighter;
	border-bottom: 0.063em solid #000000;
	padding: 0.438em 0;
}

.user01-body {
	border-bottom: 0.063em solid #000000;
	text-align: center;
	font-weight: bold;
	padding: 0.563em 0;
}

.user01-image {
	width: 2.5em;
	height: 2.5em;
}

.user01-imageNonActive {
	width: 1.563em;
	height: auto;
}

.user01-newUserBouton {
	background-color: #22B14C;
	color: #FFFFFF;
}

/* USR02 */
.user02-retour {
	text-decoration: none;
	color: #000000;
}

.user02-body-general {
	width: 100%;
}

.user02-title {
	margin-left: auto;
	margin-right: auto;
}

.user02-leftSide {
	width: 65%;
}

.user02-form-field {
	margin-bottom: 1em;
}

.user02-form-inputs {
	width: 70%;
}

.user02-inputs {
	width: 100%;
}

.user02-textarea {
	resize: none;
	height: 5em;
}

.user02-buttons {
	width: 70%;
	float: right;
}

.user02-valider {
	color: #FFFFFF;
}

.user02-reset {
	color: #FFFFFF;
}

.user02-rightSide-avatar {
	margin-bottom: 1em;
}

.user02-admin-options {
	border: 0.09375em solid black;
}

.user02-admin-button {
	margin: 0.5em 0;
}

.user02-admin-button-commande {
	padding: 0.25em 0.75em;
}

.user02-admin-roles {
	width: 95%;
	margin: 0.5em 0;
}

.user02-status-checkbox {
	display: none;
}

.user02-admin-desactive {
	color: grey;
	font-size: 2em !important;
	margin-left: 0.6em;
}

.user02-admin-active {
	color: green;
	font-size: 2em !important;
	margin-left: 0.5em;
}

.user02-admin-ref {
	margin: 0.5em 0;
}

/* USR03 */

/* USR05 */
.user05-body-general {
	width: 100%;
}

.user05-titre {
	margin-left: auto;
	margin-right: auto;
}

.user05-leftSide {
	width: 65%;
}

.user05-form-field {
	margin-bottom: 1em;
}

.user05-form-inputs {
	width: 70%;
}

.user05-inputs {
	width: 100%;
}

.user05-textarea {
	resize: vertical;
	height: 5em;
}

.user05-buttons {
	width: 70%;
	float: right;
}

.user05-creer {
	color: #FFFFFF;
}

.user05-reset {
	color: #FFFFFF;
}

.user05-placeholder {
	width: 15em;
	height: 15em;
	background-color: red;
}
/* USR07 */
.user07-body-general {
	width: 100%;
}

.user07-title {
	text-align: center;
	margin-right: 6.25em;
	margin-bottom: 3.125em;
}

.user07-form {
	align-items: center;
	justify-content: center;
	margin-top: 0.625em;
}

.user07-button {
	align-items: center;
	margin: auto;
	width: 80%;
}

.user07-lib-champ-email {
	margin-left: 3.125em;
	width: 18.75em;
}

.user07-lib-champ-password {
	margin-left: 3.125em;
	width: 18.75em;
}

.user07-lib-champ {
	justify-content: space-between;
	margin-bottom: 3.125em;
}

.user07-boutonValider {
	background-color: #008000;
	margin-left: 4.375em;
	margin-right: 20%;
	Color: #FFFFFF;
}

.user07-boutonReset {
	background-color: #FF0000;
	Color: #FFFFFF;
}