@charset "UTF-8";
/* FEATURE TEAM USER */

/* correctif : le nom des classes spécifique doit commencer par le nom de la FT team */

/* ECRAN ERREUR 404 */
.div404 {
	text-align: center;
	height: 100%;
}

.div404 .img404 {
	height: 100%;
}

/* USR00 */
/*  correctif : utilisez proprieter flex disponible dans le fichier flex. css */
.user00 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.user00 .leftSideUser00 {
	width: 75%;
}

.user00 .leftSideUser00 table {
	width: 100%;
}
/* correctif : utiliser des em au lieu des px */
.user00 .leftSideUser00 table tr th {
	width: 30%;
	text-align: left;
	padding: 10px 0;
}

.user00 .leftSideUser00 table tr td {
	width: fit-content;
}
/* correctif : utiliser des em au lieu des px */
.user00 .leftSideUser00 table tr td div button {
	padding: 5px 25px;
	border-radius: 5px;
	/* correctif : utiliser l’hexadécimal (pas de nom, ni de rgb) */
	color: white;
}

.user00 .leftSideUser00 table tr .buttonsUser00 {
	width: 100%;
	/*  correctif : utilisez proprieter flex disponible dans le fichier flex. css */
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* correctif : utiliser l’hexadécimal (pas de nom, ni de rgb) */
.user00 .leftSideUser00 table tr .buttonsUser00 div .modifierUser00 {
	background-color: rgb(106, 168, 79);
}
/* correctif : utiliser l’hexadécimal (pas de nom, ni de rgb) */
.user00 .leftSideUser00 table tr .buttonsUser00 div .supprimerUser00 {
	background-color: rgb(224, 102, 102);
}

.user00 .leftSideUser00 table tr td input {
	width: 100%;
}

.user00 .rightSideUser00 {
	width: 25%;
}
/* USR01 */
/* correctif : utiliser des em au lieu des px */
.usr01searchMenu {
	margin-bottom: 15px;
	/*  correctif : utilisez proprieter flex disponible dans le fichier flex. css */
	display: flex;
	width: 100%;
}

.usr01AddUser {
	margin-left: auto;
}

.usr01filterBar {
	width: 15%;
	margin-left: 1em;
}

.usr01filterBar select {
	width: 70%;
}

/* correctif : utiliser des em au lieu des px */
#listeUser {
	border-collapse: collapse;
	/* correctif : utiliser l’hexadécimal (pas de nom, ni de rgb) */
	border: 1px solid black;
	overflow-y: scroll;
	width: 100%;
}
/* correctif : utiliser des em au lieu des px */
.thUSR01 {
	font-weight: lighter;
	/* correctif : utiliser l’hexadécimal (pas de nom, ni de rgb) */
	border-bottom: 1px solid black;
	padding: 7px 0;
}
/* correctif : utiliser des em au lieu des px */
.bodyUSR01 {
	/* correctif : utiliser l’hexadécimal (pas de nom, ni de rgb) */
	border-bottom: 1px solid black;
	text-align: center;
	font-weight: bold;
	padding: 9px 0;
}
/* correctif : utiliser des em au lieu des px */
.imageUSR01 {
	width: 40px;
	height: 40px;
}
/* correctif : utiliser des em au lieu des px */
#imageNonActif {
	width: 25px;
	height: auto;
}
/* correctif : utiliser l’hexadécimal (pas de nom, ni de rgb) */
.urs01newUserBouton {
	background-color: rgb(34, 177, 76);
	color: white;
}

/* USR02 */

/* USR03 */

/* USR05 */
/*  correctif : utilisez proprieter flex disponible dans le fichier flex. css */
.user05 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.user05 .leftSideUser05 {
	width: 75%;
}

.user05 .leftSideUser05 form table {
	width: 100%;
}
/* correctif : utiliser des em au lieu des px */
.user05 .leftSideUser05 form table tr th {
	width: 30%;
	text-align: left;
	padding: 10px 0;
}

.user05 .leftSideUser05 form table tr td {
	width: fit-content;
}
/* correctif : utiliser des em au lieu des px */
.user05 .leftSideUser05 form table tr td div button {
	padding: 5px 25px;
	border-radius: 5px;
	/* correctif : utiliser l’hexadécimal (pas de nom, ni de rgb) */
	color: white;
}

.user05 .leftSideUser05 form table tr .buttonsUser05 {
	width: 100%;
	/*  correctif : utilisez proprieter flex disponible dans le fichier flex. css */
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* correctif : utiliser l’hexadécimal (pas de nom, ni de rgb) */
.user05 .leftSideUser05 form table tr .buttonsUser05 div .creerUser05 {
	background-color: rgb(106, 168, 79);
}
/* correctif : utiliser l’hexadécimal (pas de nom, ni de rgb) */
.user05 .leftSideUser05 form table tr .buttonsUser05 div .resetUser05 {
	background-color: rgb(224, 102, 102);
}

.user05 .leftSideUser05 form table tr td input {
	width: 100%;
}

.user05 .rightSideUser05 {
	width: 25%;
}

/* USR07 */
.body-general {
	width: 100%;
}
/* correctif : utiliser des em au lieu des px */
.title {
	text-align: center;
	margin-right: 100px;
	margin-bottom: 50px;
}

.form {
	/*  correctif : utilisez proprieter flex disponible dans le fichier flex. css */
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}

.button {
	align-items: center;
	margin: auto;
	width: 80%;
	/*  correctif : utilisez proprieter flex disponible dans le fichier flex. css */
	display: flex;
}
/* correctif : utiliser des em au lieu des px */
.lib-champ-email {
	margin-left: 50px;
	width: 300px;
}
/* correctif : utiliser des em au lieu des px */
.lib-champ-password {
	margin-left: 50px;
	width: 300px;
}

.error {
	Color: red;
}
/* correctif : utiliser des em au lieu des px */
/* Permet de créer un bloc de couleur orange en haut de body afin de recevoir des messages d'erreurs*/
.errorblock {
	background-color: #ff7f00;
	border: 2px solid #000000;
	/*  correctif : utilisez proprieter flex disponible dans le fichier flex. css */
	display: flex
}
/* correctif : utiliser des em au lieu des px */
.lib-champ {
	/*  correctif : utilisez proprieter flex disponible dans le fichier flex. css */
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}
/* correctif : utiliser des em au lieu des px */
.boutonValiderUSR07 {
	background-color: #008000;
	margin-left: 70px;
	margin-right: 20%;
	/* correctif : utiliser l’hexadécimal (pas de nom, ni de rgb) */
	Color: white;
}

.boutonResetUSR07 {
	background-color: #FF0000;
	/* correctif : utiliser l’hexadécimal (pas de nom, ni de rgb) */
	Color: white;
}