<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>

	<!-- Affichage en console -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Déclaration du logger pour la couche Service -->
	<logger name="service" level="trace">
		<appender-ref ref="CONSOLE" />
	</logger>

	<!-- Déclaration du logger pour la couche Presentation -->
	<logger name="presentation" level="trace">
		<appender-ref ref="CONSOLE" />
	</logger>

	<!-- Déclaration du logger pour la couche Persistance -->
	<logger name="persistance" level="trace">
		<appender-ref ref="CONSOLE" />
	</logger>

	<!-- Déclaration du logger pour le package de Test -->
	<!-- A Supprimer ensuite ! -->
	<logger name="pocLogBack" level="trace">
		<appender-ref ref="CONSOLE" />
	</logger>

	<!-- Gère les logs de LogBack -->
	<logger name="ch.qos" level="warn">
		<appender-ref ref="CONSOLE" />
	</logger>

	<!-- Gère les logs de Spring -->
	<logger name="org.springframework" level="warn">
		<appender-ref ref="CONSOLE" />
	</logger>

	<!-- Gère les logs de Hibernate -->
	<logger name="org.hibernate" level="warn">
		<appender-ref ref="CONSOLE" />
	</logger>

	<!-- Root : logger par défaut, indispensable et unique -->
	<root level="info">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>
